In [40]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [41]:
books_data = []
for page in range(1, 6):
    url = f"http://books.toscrape.com/catalogue/page-{page}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    
    books = soup.find_all("article", class_="product_pod")
    
    for book in books:
        title = book.h3.a["title"]
        price = book.find("p", class_="price_color").text.replace("Â£", "")
        books_data.append([title, float(price)])

In [42]:
books_df = pd.DataFrame(books_data, columns=["Product", "Price"])
books_df.head()

                                 Product  Price
0                   A Light in the Attic  51.77
1                     Tipping the Velvet  53.74
2                             Soumission  50.10
3                          Sharp Objects  47.82
4  Sapiens: A Brief History of Humankind  54.23

In [43]:
import numpy as np
import random
from datetime import datetime, timedelta

In [44]:

books_df["CustomerID"] = np.random.randint(1001, 1100, size=len(books_df))
books_df["Quantity"] = np.random.randint(1, 5, size=len(books_df))
books_df["InvoiceDate"] = [
    datetime.today() - timedelta(days=random.randint(1, 180))
    for _ in range(len(books_df))
]

In [45]:
books_df["TotalAmount"] = books_df["Price"] * books_df["Quantity"]
books_df.head()

,Product,Price,CustomerID,Quantity,InvoiceDate,TotalAmount
0,A Light in the Attic,51.77,1019,3,2025-11-15 15:24:45.820791,155.31
1,Tipping the Velvet,53.74,1009,4,2025-08-10 15:24:45.820791,214.96
2,Soumission,50.10,1080,2,2025-08-11 15:24:45.820791,100.20
3,Sharp Objects,47.82,1081,1,2025-10-24 15:24:45.820791,47.82
4,Sapiens: A Brief History of Humankind,54.23,1004,1,2025-07-16 15:24:45.820791,54.23

In [47]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product      100 non-null    object
 1   Price        100 non-null    float64
 2   CustomerID   100 non-null    int32
 3   Quantity     100 non-null    int32
 4   InvoiceDate  100 non-null    datetime64[ns]
 5   TotalAmount  100 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(2), object(1)
memory usage: 4.0+ KB

In [ ]:
books_df.to_csv()